<html>
<head>
{% load staticfiles %}
  <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
  <script src="{% static 'app/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.1.11.1.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'app/js/userScripts.js' %}"></script>
</head>

<body>
<p id = "result">
</p>

<script>

function sample(i)
{alert(i);}
//console.log(j)
$(document).ready(function(){
function sample(){
$(".remove").on('click', function(event){
		event.stopPropagation();
		event.stopImmediatePropagation();
		alert("called");
		//(... rest of your JS code)
	});
	}
	});
	
</script>
</body>
</html>
